
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.big-div {
  background-image: linear-gradient(rgba(3, 9, 31, 0.68)), url(images/imgi_3_background.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  overflow: hidden;  
  position: relative;
}

.offcanvas {
  background-color: #4285f4;
  color: white;
}
.canvas-closer {
  width: 100%;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: -10px;
}

.nav-link {
  font-size: 0.85rem;
  color: white;
  font-weight: 400;
}

.big-div-p1 {
  font-size: 2.6rem; 
  font-weight: 500;
}

.div2-p1 {
  color: black;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 0px;
}
.div2-p2 {
  color: #777777;
  font-weight: 300;
  font-size: 0.875rem;
  margin-top: 0px;
}

.our-course-div {
  gap: 40px;
  padding: 10px 120px;
}

.c1 {
  background-color: #e7f9ff;
  border: none;
  padding: 10px 20px;
  transition: 0.5s;
  border-radius: 13px;
}

.c1:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
.c1-p1 {
  color: black;
  font-weight: 700;
}
.c1-p2 {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}

.fac-row {
  row-gap: 30px; 
  padding: 10px 100px;
}

.fac-row img {
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
  border-radius: 12px;
}

.fac-row .pp1 {
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
  margin-top: 15px;
} 
.fac-row .pp2 {
  font-weight: 300;
  font-size: 0.875rem;
  color: #777777;
}

.visit-btn {
  border: 0.5px solid #4285f4;
  border-radius: 0;
  transition: 0.5s;
  font-size: 0.85rem;
  padding: 10px 35px;
  margin-top: 20px;
  background-color: transparent;
  color: #4285f4;
}

.visit-btn:hover {
  background-color: #4285f4;
  color: white;
}


.about-div {
  padding: 100px 320px 30px 320px;
}

.icons-div img {
  margin: 10px 12px;
  cursor: pointer;
}


@media (min-width: 993px) and (max-width: 1200px) {
  .text-div {
    max-width: 90%;
  }
  .about-div {
    padding: 80px 100px 30px 100px;
  }
}

@media (max-width: 992px) {
  .big-div-p1 {
    font-size: 2rem;
  }
  .text-div {
    max-width: 90%;
  }
  .our-course-div {
    padding: 10px 40px;
  }
  .about-div {
    padding: 80px 50px 30px 50px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 590px) {
  .big-div {
    height: 80vh;
  }
  .div2-p1 {
    font-size: 1.6rem;
  }
  .div2-p2 {
    font-size: .9rem;
  }
  .fac-row {
    padding: 10px 20px;
  }
  .our-course-div {
    flex-direction: column;
  }
  .c1-p1 {
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  .big-div-p1 {
    font-size: 1rem;
  }
  .div2-p1 {
    font-size: 1rem;
  }
  .div2-p2 {
    font-size: .6rem;
  }
  .our-course-div {
    padding: 20px 20px;
  }
  .c1 {
    padding: 3px 0px;
  }
  .c1-p2 {
    display: none;
  }
  .fac-row img {
    width: 100%;
    height: 8rem;
  }
  .card-body {
    flex-direction: column;
    padding: 0px 2px ;
  }
}